@model List<MenuItem>
@{
    ViewData["Title"] = "Menu Edit";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">CategoryId</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td><img src="~/assets/image/@item.ImageUrl" /></td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.CategoryId</td>
                <td>@item.Price</td>
                <th>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Remove</a>
                </th>
            </tr>
        }
    </tbody>
</table>

